@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Poppins:wght@400;600;900&display=swap');

:root{
    --text-primary: #FFC107;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
#home{
    height: 100vh;
    width: 100%;
    background: rgb(49, 54, 54);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar .navbar-brand h2{
    font-family: "Playwrite BE VLG", cursive;
}
.navbar .navbar-nav .nav-link{
    color: #fff;
    transition: .4s;
}
.navbar .navbar-nav .nav-link:hover{
    color: var(--text-primary);
}
.home-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}
.home-content h3{
    font-size: 2.25rem ;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

.card-img img{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.card-img overlay{
    transition: .5s ease;
    opacity: 0;
    text-align: center;
}
.card-img:hover .img{
    opacity: 0.3;
}
.about-line{
    position: relative;
    list-style: none;
    padding: 0;
}
.about-line::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}
.about-line li{
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}
.about-line li::after,
.about-line li::before{
    display: table;
    content: "";
}
.about-line li .line-panel{
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.about-line li .line-panel::before{
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.about-line li .line-panel::after{
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.about-line li .line-img{
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #ffc800;
}
.about-line li{
    margin-bottom: 120px;
}
.about-line li.line-inverted .line-panel{
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
.about-line li.line-inverted .line-panel::before{
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.about-line li.line-inverted .line-panel::before{
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.team{
    background-color: #F8F9FA;
    padding: 50px 0;
}

@media (min-width: 768px){
    .about-line::before{
        left: 50%;
    }
    .about-line > li{
        min-height: 100px;
        margin: 100px;
    }
    .about-line > li .line-panel{
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .about-line > li .line-img{
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .about-line > li.about-line-inverted > .line-panel{
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}
@media (min-width:992px){
    .about-line > li{
        min-height: 150px;
    }
    .about-line > li .line-panel{
        padding: 0 20px 20px;
    }
    .about-line > li .line-img{
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .about-line > li.about-line-inverted > .line-panel{
        padding: 0 20px 20px;
    }
}
@media (min-Width:1200px) {
    .about-line > li{
        min-height: 200px;
    }
    .about-line > li .line-panel{
        padding: 0 20px 20px 100px;
    }
    .about-line > li .line-img{
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .about-line > li.about-line-inverted > .line-panel{
        padding: 0 100px 20px 20px;
    }
}
@media only screen and (max-width: 413px){
    #home{
        height: 60vh;
    }
    .home-content h3{
        font-size: 20px;
        margin-bottom: 13px;
    }
    .home-content h1{
        font-size: 40px;
        line-height: 40px;
    }
}